@import "./partials/variables";


/* Media Queries Smartphone */

@media screen and (max-width: 768px) {
    .logo{
        width: 35px;
        height: 35px;
    }
    h1{
        font-size: 1.5rem;
    }
    .card-nosotros{
        width: 18rem;
        font-size: 6px;
    } 
    .card-title{
        font-size: 10px;
    }
    .navbar-nav{
        font-size: 1rem;
    }
    .navbar-toggler-icon{
        width: 15px;
        height: 15px;
    }
    .btn{
        background-color: $btnM;
    }
    .mapas{
        height: 100px;
        width: 250px;
    }
    .visitanos h2{
        font-family: 'Cinzel Decorative', cursive;
        font-size: 15px;
        color: black;
    }
    .visitanos .visitanos-contacto a{
        font-weight: 300;
        font-size: 9px;
        font-family: 'Poppins', sans-serif;
        color: rgb(0, 0, 0);
        text-decoration: none;
        display:flex;
        letter-spacing: 5px;
    }
}

/* Media Queries Tablet */

@media screen and (max-width: 1024px) and (min-width: 769px) {
    .logo{
        width: 50px;
        height: 50px;
    }
    h1{
        font-size: 2rem;
    }
    .card-nosotros{
        width: 25rem;
        font-size: 8px;
    } 
    .card-title{
        font-size: 12px;
    }
    .navbar-nav{
        font-size: 1.3rem;
    }
    .navbar-toggler-icon{
        width: 18px;
        height: 18px;
    }
    .btn{
        background-color: $btnT;
        color:black;
    }
    .mapas{
        height: 200px;
        width: 350px;
    }
    .visitanos h2{
        font-family: 'Cinzel Decorative', cursive;
        font-size: 20px;
        color: black;
    }
    .visitanos .visitanos-contacto a{
        font-weight: 300;
        font-size: 12px;
        font-family: 'Poppins', sans-serif;
        color: rgb(0, 0, 0);
        text-decoration: none;
        display:flex;
        letter-spacing: 5px;
    }
}

/* Btn - Condicional */

a{
    @if $colorVista == tablet {
        @media screen and (max-width: 1024px) and (min-width: 769px){
            .btn{background-color:$btnT;}
            }
        } @else if $colorVista == mobile {
            @media screen and (max-width: 768px){
                .btn{background-color:$btnM;}
            }
        } @else {
            .btn{background-color:$btnD;}
            }
    }