$font-h1: 3rem;
$font-h2: 30px;
$fontf-h1: 'Cinzel Decorative', cursive;
$box-shadow-card: 1px 1px 5px rgb(173, 171, 171);
$background-fontgr: linear-gradient(to bottom right, red, yellow);
$fontf-vs: 'Poppins', sans-serif;
$color-tx-b: #fff;
$color-tx-n: #030303;
$font-h5: 1.3rem;
$font-p: 0.7rem;
$colorVista:mobile;
$btnM: rgb(10, 44, 235);
$btnT: rgb(138, 235, 10);
$btnD: rgb(235, 10, 10);





              
